.vscode/launch.json
aula22/utilidadesCev/__pycache__/__init__.cpython-38.pyc
aula22/utilidadesCev/__pycache__/dados.cpython-38.pyc
aula22/utilidadesCev/__pycache__/moeda.cpython-38.pyc
aula22/utilidadesCev/__pycache__/moeda.cpython-38.pyc
Mini_login_system/__pycache__/suporte.cpython-38.pyc
Mini_login_system/__pycache__/design.cpython-38.pyc
.gitignore
database.txt
